<!-- templates/article.html -->
{% extends 'blog/base.html' %}
<h1>{{article.title}}</h1>

<!-- Display a single article -->

{% block content %}
<main class="grid-container">
  <article class="featured">
    <img src="{{article.image_file.url}}" alt="{{article.image_file.url}}">

    <div>
      <h2>{{article.title}}</h2>
      <strong>by {{article.author}} at {{article.published}}</strong>
      <p>
        {{article.text}}
      </p>
    </div>
  </article>

  <div>
    <h2>Comments</h2>
    <!-- Call article's get_comments() method -->


    {% for c in article.get_comments %}

    <div>
      <strong>by {{c.author}} at {{c.published}}</strong>

      <p>
        {{c.text}}
      </p>
    </div>

    {% endfor %}
  </div>

</main>
{% endblock %}