<!-- html page to display a detailed artist view -->

{% extends 'music_dashboard/base.html' %}


{% block content %}

<div class="container">


  <h1>Artist Info</h1>
  <div class="row">
    <table>
      <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>Photo</th>
      </tr>
      <tr>
        <td>{{artist.name}} </td>
        <td>{{artist.get_genre}}</td>
        <td><img src="{{artist.image}}" alt="Image of the artist" class="profile-img"></td>
      </tr>
    </table>

  </div>

  <h1>Albums</h1>
  <table>

    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Release Date</th>
      <th>Number of Tracks</th>
    </tr>
    {% for a in albums %}
    <tr>
      <td><img src="{{a.image}}" alt="Album cover" class="profile-img"></td>
      <td>{{a.name}}</td>
      <td>{{a.release_date}}</td>
      <td>{{a.number_songs}}</td>
    </tr>

    {% endfor %}
  </table>

  <h1>Songs</h1>
  <table>
    {% for s in songs %}
    <tr>
      <td>{{s.name}}</td>
      <td>{{s.album}}</td>
      <td><a href="https://open.spotify.com/track/{{s.spotify_id}}">Listen on Spotify</a></td>
    </tr>

    {% endfor %}
  </table>




  {% endblock %}