<!-- Base page for music_dashboard -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'stylesheet-music-dashboard.css' %}">
</head>

<body>

  <header>
    <div class="top-div">
      <h1>Music Dashboard</h1>
    </div>
    <div class="top-div">
      {% if request.user.is_authenticated %}
      <span>Logged in: {{ request.user }}</span>
      <form method="POST" class="h-header" action="{% url 'music_dashboard_logout' %}" style="display: inline;">
        {% csrf_token %}
        <input type="submit" value="Logout" class="button">
      </form>
      {% else %}
      <a href="{% url 'music_dashboard_login' %}" class="button">Login</a>
      <a href="{% url 'create_profile' %}" class="button">Create Account</a>
      {% endif %}
      <a href="{% url 'main_page' %}" class="button">Main Page</a>
      <a href="{% url 'songs' %}" class="button">Songs Database</a>
    </div>

  </header>
  {% block content %}

  {% endblock %}
</body>

</html>