<!-- html form to edit a profile and update name and other values -->

{% extends 'music_dashboard/base.html' %}


{% block content %}

<div class="container">
  <h1>Edit Profile</h1>

  <form method="POST">
    {% csrf_token %}

    <table>
      {% for field in form %}
      <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
      </tr>

      {% endfor %}
      <tr>
        <td> <input type="submit" name="Update Profile"> </td>
      </tr>

    </table>


  </form>

  <table>
    <td>
      <form action="{% url 'profile' profile.pk %}">
        <input type="submit" name="Cancel" value="Cancel">
      </form>
    </td>
    </tr>
  </table>

</div>
{% endblock %}