<h2>Search Form</h2>

<form action="{% url 'songs' %}">

  <table>
    <tr>
      <th>Song:</th>
      <td>
        <input type="text" name="song_name" placeholder="Enter song name">
      </td>

    </tr>

    <tr>
      <th>Artist:</th>
      <td>
        <input type="text" name="artist_name" placeholder="Enter artist name">
      </td>

    </tr>

    <tr>
      <th>Album:</th>
      <td>
        <input type="text" name="album_name" placeholder="Enter album name">
      </td>

    </tr>

    <tr>
      <th>Minimum Release Date:</th>
      <td>
        <input type="date" name="min_release_date">
      </td>

    </tr>

    <tr>
      <th>Maximum Release Date:</th>
      <td>
        <input type="date" name="max_release_date">
      </td>

    </tr>



    <td>
      <input type="submit">
    </td>

</form>