<!-- html page to display a detailed view of a profile -->

{% extends 'music_dashboard/base.html' %}

{% block content %}

<div class="container">

  <div class="center-div">
    <a href="{% url 'profile' profile.pk %}" class="button">Return to Profile</a>
  </div>

  <h1>{{playlist.name}} </h1>

  <table>
    <th>Name</th>
    <th>Artist</th>
    <th>Release Date</th>
    {% if request.user.is_authenticated and request.user.pk == profile.user.pk %}
    <th>Remove from Playlist:</th>
    {% endif %}


    {% for ps in playlist_songs %}

    <tr>
      <td>{{ps.song.name}}</td>
      <td>{{ps.song.artist}}</td>
      <td>{{ps.song.release_date}}</td>
      {% if request.user.is_authenticated and request.user.pk == profile.user.pk %}
      <td><a href="{% url 'delete_playlist_song' ps.pk %}">Remove </a></td>
      {% endif %}
    </tr>
    {% endfor %}

  </table>

  {% if request.user.is_authenticated and request.user.pk == profile.user.pk %}
  <a href="{% url 'update_playlist' playlist.pk %}" class="button">Modify Playlist</a>
  {% endif %}

</div>
{% endblock %}