<!-- html page to display a detailed view of an individual's profile, can add them as friends or see their playlists -->

{% extends 'music_dashboard/base.html' %}

{% block content %}

<div class="container">


  <div class="profile-header">
    <div>
      <a href="{% url 'main_page' %}" class="button">Back to Home</a>
      <a href="{% url 'feed' %}" class="button">Feed</a> <br>
    </div>

    <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
    {% if profile.profile_image_url %}
    <img src="{{ profile.profile_image_url }}" alt="Profile Image" class="profile-img">
    {% endif %}
  </div>

  <div class="profile-actions">
    {% if request.user.is_authenticated and request.user.pk == profile.user.pk %}
    <div>
      Upload archived data file from Spotify:
      <form method="POST" enctype="multipart/form-data" action="{% url 'music_dashboard_upload_listens' %}">
        {% csrf_token %}
        <input type="file" name="json_file" accept=".json">
        <button type="submit">Upload</button>
      </form>
    </div>
    <div class="action-links">
      <a href="{% url 'edit_profile' %}">Edit profile page</a>
      <a href="{% url 'create_playlist' %}">Create a playlist</a>
    </div>

    {% endif %}
  </div>

  {% if request.user.is_authenticated and request_user_is_friend_with_profile %}

  <div class="center-div">

    <p>You are friends with this user</p>
  </div>

  {% else %}
  {% if request.user.is_authenticated and request_user_profile != profile %}

  <div class="center-div">
    <a href="{% url  'music_dashboard_add_friend' profile.pk %}" class="button">Add friend</a>
  </div>

  {% endif %}
  {% endif %}

  {% if request_user_is_friend_with_profile or request.user.pk == profile.user.pk %}
  <div class="wrapper">
    <div class="section">
      <h2>Last 50 Songs Played</h2>
      <div class="song-list">
        <table>
          <tr>
            <th>
              Name
            </th>
            <th>Time</th>
          </tr>

          {% for l in last_50_listens %}
          <tr>
            <td>
              <a href="https://open.spotify.com/track/{{ l.song.spotify_id }}" target="_blank">{{ l.song.name }} by
                {{l.song.artist}}</a>
            </td>

            <td>{{l.time}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="section">
      <h2>Playlists</h2>
      {% for p in playlists %}
      <div class="playlist-item">
        <a href="{% url 'playlist' p.pk %}">{{ p.name }}</a>
        {% if request.user.is_authenticated and request.user.pk == profile.user.pk %}
        <a href="{% url 'delete_playlist' p.pk %}" class="delete-link">Delete</a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

  <h1>Time spent listening to each genre:</h1>

  {{pie_div|safe}}
</div>

{% else %}

<div class="center-div">
  Not friends, cannot see listens or playlists

</div>




{% endif %}


{% endblock %}