<!-- templates/base.html -->
<!-- mini_fb/templates/mini_fb/base.html -->
{% load static %}
<html>

<head>
  <title>Mini Facebook</title>
  <link rel="stylesheet" href="{% static 'styles-mini-fb.css' %}">
  <!-- <link rel="stylesheet" href="https://cs-people.bu.edu/mickra/styles-mini-fb.css"> -->
</head>

<body>
  <header>
    <h1>Mini Facebook </h1>

    <a href="{% url 'show_all_profiles_view' %}">
      <h5>All Profiles</h5>
    </a>
    <a href="{% url 'create_profile' %}">
      <h5> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Create a Profile</h5>
    </a>


  </header>

  {% block content %}
  {% endblock %}

</body>

</html>