<!-- To create status addresses -->
{% extends 'mini_fb/base.html' %}


{% block content %}
<h2>Create a new status message</h2>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}



  <table>

    {{form.as_table}}

    <input type="file" name="files" multiple />

    <tr>
      <td> <input type="submit" name="Create Status Message"> </td>
    </tr>

  </table>
</form>

<table>
  <form action="{% url 'profile' profile.pk  %}">
    <input type="submit" name="Cancel" value="Cancel">
  </form>
  </td>
  </tr>
</table>

{% endblock %}