<!-- templates/show_profile.html -->
{% extends 'mini_fb/base.html' %}

<!-- Display a single profile -->

{% block content %}
<main class="grid-container">
  <profile class="featured">
    {% if profile.profile_image_url %}
    <img src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}">
    {% endif %}

    <div>
      <h2>{{profile.first_name}} {{profile.last_name}}</h2>
      <p>
        {{profile.city}}
      </p>

      <a href="{% url 'create_status' profile.pk   %}">
        <p>Create a status message</p>
      </a>
    </div>
  </profile>

  <div>
    <h2>Status Messages</h2>


    {% for s in profile.get_status_messages %}

    <div>
      <p>
        {{s.message}}
      </p>
      <p>
        {{s.published}}
      </p>
    </div>

    {% endfor %}
  </div>

</main>
{% endblock %}